body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
body #copy {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  z-index: 10;
}
body #copy a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}
body #copy a b {
  font-weight: 700;
}
body #copy a:hover {
  color: #fff;
}
body .mask {
  position: absolute;
  height: 100%;
  width: 100%;
  
  z-index: 1;
  box-shadow: 0 0 0px #000 inset,0 0 0px #000 inset,0 0 0px #000 inset;
}
body .mask .modal {
  opacity: 0;
  width: 300px;
  height: 370px;
  background: rgba(3, 111, 212, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px #036fd4, 0 0 0 0px rgba(47, 47, 47, 0.5) inset;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .mask .modal .circle {
  background: #0d0d0d;
  width: 120px;
  height: 120px;
  border-radius: 20%;
  position: relative;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px #0a0a0a,0 0 0 1px #0a0a0a;
  background-repeat: no-repeat;
  background-position: top ;
  background-size: cover !important;

}
body .mask .modal .registration h1 {
  margin: 0;
  padding: 0;
  margin-top: -30px;
  font-family: arial;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  text-align: center;
  font-size:24px;
}
body .mask .modal .registration input {
  width: 260px;
  margin-left: 10px;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    opacity:  0.8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  0.8;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
   opacity:  0.8;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
   opacity:  0.8;
}
body .mask .modal .registration input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}
body .mask .modal .registration button {
  background: transparent;
  text-align: center;
  border: solid 2px #fff;
  margin: 25px 15px 0;
  width: 275px;
  color: #fff;
  line-height: 25px;
  border-radius: 20px 20px 20px 20px;
}
body .vertical {
  float: left;
  width: 10%;
  overflow: hidden;
}
body .vertical .horizontal {
  width: 100%;
  height: 150px;
  position: relative;
  box-shadow: -1px 1px 0 1px #369cfc inset, 0 0 50px rgba(0, 0, 0, 1) inset;
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover!important;
}
